{% extends "base.html" %}
{% load static %}
<div class="card" data-id="{{ recipe.id }}">
  {% load thumbnail %}
  {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
    <img src="{{ im.url }}"
     width="{{ im.width }}"
     height="{{ im.height }}"
     alt="{{ recipe.name }}"
     class="single-card__image">
  {% endthumbnail %}

<div class="card__body">
    <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
    <ul class="card__items">
      {% include 'includes/tags.html'%}
    </ul>
    <div class="card__items card__items_column">
        <p class="card__text"><span class="icon-time"></span>{{ recipe.cooking_time }} минут</p>
        <ul class="single-card__items">
          <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span><a href="{% url 'author-recipes' recipe.author %}" style="color: black">{{ recipe.author.username }}</a></p></li>
          {% if user.is_authenticated and user == recipe.author %}
            <li class="single-card__item"><a style="margin-left: 2.5em" href="{% url 'recipe-edit' recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
          {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
      <ul class="single-card__items">
        <li class="single-card__item">
          <!-- Кнопка "Добавить в покупки"-->
          {% include 'includes/buttons/add-purchase.html' %}
        </li>
        <li class="single-card__item">
          {% include 'includes/buttons/subscribe.html' %}
        </li>
      </ul>
    {% endif %}
    <div class="single-card__section">
      <h3 class="single-card__section-title">Ингредиенты:</h3>
      <div class="single-card__items single-card__items_column">
        {% for ingredient in ingredients %}
          <ul class="single-card__section-item">
            <li>{{ ingredient.ingredient.title }}
            - {{ ingredient.amount }} {{ ingredient.ingredient.dimension }}.
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
    <div class="single-card__section" style="margin-top: 10px">
      <h3 class="single-card__section-title">Описание:</h3>
      <p class=" single-card__section-text">{{ recipe.description }}</p>
    </div>
</div>
</div>
<div class="card__footer">
  {% include 'includes/buttons/default-favorite.html' %}
</div>