{% load i18n %}{% autoescape off %}
Уважаемый {{ user.get_username }},

Вы получили данное письмо, потому что осуществили сброс пароля на сайте {{ site_name }}.

Пожалуйста, перейдите на эту страницу и введите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Ваш логин на сайте - {{ user.get_username }}.

Спасибо, что пользуетесь нашим сайтом!

С уважением,

Команда сайта {{ site_name }}.
{% endautoescape %}
