{% extends "base.html" %}
{% load static %}
{% load recipe_filters user_filters %}
{% block title %}
  {% if recipe %}
    Редактирование рецепта
  {% else %}
    Создание рецепта
  {% endif %}
{% endblock %}
{% block static %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
  <main class="main container">
    <div class="main__header">
      <h1 class="main__title">
        {% if recipe %}
          Редактирование
        {% else %}
          Создание
        {% endif %}
        рецепта
      </h1>
    </div>
    <div class="form-container">
      <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
          <label for="{{ form.name.id_for_label }}" class="form__label">{{ form.name.label }}</label>
          <div class="form__field-group">
            {{ form.name | addclass:'form__input' }}
            {% if form.title.errors %}
              <span class="form__error">{{ form.name.errors }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <p class="form__label">Теги</p>
          <div class="form__field-group">
            <div class="tags">
              {% for tag, value in form.tags.field.choices %}
                <div class="tags__item">
                  <input type="checkbox" name="tags" id="id_{{ tag.instance.slug }}" class="tags__checkbox tags__checkbox_style_{{ tag.instance.color }}" value="{{ tag.instance.slug }}"
                    {% if tag.instance.slug in form.tags.value %} checked {% endif %}>
                      <label for="id_{{ tag.instance.slug }}" class="tags__label">{{ tag.instance.name }}</label>
                </div>
              {% endfor %}
            </div>
            {% if form.tags.errors %}
              <span class="form__error">{{ form.tags.errors }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <label for="nameIngredient" class="form__label">Ингредиенты</label>
          <div class="form__field-group">
            <div class="form__field-group-ingredientes">
              <div class="form__dropdown">
                  <input type="text" id="nameIngredient" placeholder="Начните вводить ингредиент" class="form__input">
                  <div class="form__dropdown-items"></div>
              </div>
              <input type="number" id="cantidad" class="form__input" min="0">
              <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
            </div>
            <div class="form__field-group-ingredientes-container">
              {% for ingredient in recipe_ingredients.all %}
                <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                  <span> {{ ingredient.ingredient.title }} {{ ingredient.amount }} {{ ingredient.ingredient.dimension }}</span>
                    <span class="form__field-item-delete"></span>
                  <input id="nameIngredient_{{ forloop.counter }}"
                         name="nameIngredient_{{ forloop.counter }}" type="hidden"
                         value="{{ ingredient.ingredient.title }}">
                  <input id="valueIngredient_{{ forloop.counter }}"
                         name="valueIngredient_{{ forloop.counter }}" type="hidden"
                         value="{{ ingredient.amount }}">
                  <input id="unitsIngredient_{{ forloop.counter }}"
                         name="unitsIngredient_{{ forloop.counter }}" type="hidden"
                         value="{{ ingredient.ingredient.dimension }}"></div>
              {% endfor %}
            </div>
            <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
            {% if form.ingredients.errors %}
              <span class="form__error">{{ form.ingredients.errors }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <label for="{{ form.cooking_time.id_for_label }}" class="form__label">{{ form.cooking_time.label }}</label>
          <div class="form__field-group form__field-group_time">
            {{ form.cooking_time | addclass:'form__input' }}
            <label for="{{ form.cooking_time.id_for_label }}" class="form__label">минут</label>
            {% if form.cooking_time.errors %}
              <span class="form__error">{{ form.cooking_time.errors }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.description.label }}</label>
          <div class="form__field-group">
            {{ form.description | addclass:'form__textarea' }}
            {% if form.description.errors %}
              <span class="form__error">{{ form.description.errors }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <span class="form__label">{{ form.image.label }}</span>
          <div class="form__field-group">
            {{ form.image | addclass:'form__file-button' }}
            {% if form.image.errors %}
              <span class="form__error">{{ form.image.errors }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__footer">
          {% if recipe %}
            <button class="button button_style_blue">Сохранить изменения</button>
            <a style="margin-left: 2.5em"
               href="{% url 'recipes:recipe-delete' recipe.id %}"
               class="form__ingredient-link">Удалить</a>
          {% else %}
            <button class="button button_style_blue">Создать рецепт</button>
          {% endif %}
        </div>
      </form>
    </div>
  </main>
{% endblock %}
{% block js %}
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/utils/debouncing.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}