{% extends 'base.html' %}
{% block title %}Рецепты{% endblock title %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
  <div class="main__header">
    <h1 class="main__title">Рецепты</h1>
      {% include 'includes/tags.html' %}
  </div>
{% block additional_under_header %}{% endblock %}
  <div class="card-list">
    {% load cache %}
    {% cache 20 sidebar %}
      {% for recipe in page %}
        {% include 'recipes/includes/recipe_card_short.html' with recipe=recipe %}
      {% endfor %}
    {% endcache %}
    {% if page.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% include 'includes/paginator.html' with aria_label='Search results pages' %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/indexAuth.js' %}"></script>
{% endblock %}