{% extends "base.html" %}
{% load static %}
{% load recipe_filters %}
{% block title %}
 Рецепты
{% endblock %}
{% block static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <main class="main container">
    <div class="main__header">
      <h1 class="main__title">Рецепты</h1>
      {% include 'includes/tags.html' %}
    </div>
    <div class="card-list">
      {% for recipe in page %}
        {% include 'recipes/includes/recipe_card_short.html' %}
      {% endfor %}
    </div>
      {% include 'includes/paginator.html' with items=page paginator=paginator %}
  </main>
{% endblock %}
{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/indexAuth.js' %}"></script>
{% endblock %}